/* styles goes here */

 .title {
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    text-transform: uppercase;
    color: #3C3C3C;
}

hr {
    margin: 0 auto;
    margin-bottom: 63px;
    width: 45px;
    height: 3px;
    left: 778px;
    top: 120px;
    background: #DDDBDB;
}

.subtitle {
    margin: 0 auto;
    margin-bottom: 75px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    width: 557px;
    height: 38px;
    color: #3C3C3C;
    text-align: center;
}

.name {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #282528;
}

.profession {
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #646464;
    padding-top: 5px;
}

.focus {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 270px;
    height: 270px;
    background: #00AED9;
    text-align: center;
    opacity: 0;
}   

.img img {
    margin-bottom: 12px;
}

 .focus a {
    width: 42px;
    height: 42px;
    margin-right: 5px;
    background: #4EC4E2;
    text-align: center;
    margin-top: 114px;
    padding-top: 10px;
}

.img {
    position: relative; 
}

.focus:hover {
    opacity: 1;
}
